{% extends 'base.html.twig' %}

{% block body %}
  <div class="text-center">
    <h1 style="font-size: 5em;">
      {% include '_anikura-jpn.html.twig' %}
    </h1>
    <h3>
      Anikura - your very own multimedia server
    </h3>

    {% if not app.user %}
      <a
        class="btn btn-primary btn-lg my-4"
        href="{{ path('app_login') }}"
        role="button"
      >
        <i class="fas fa-sign-in-alt"></i>
        Log in to this instance
      </a>
    {% else %}
    <a
      class="btn btn-secondary btn-lg my-4"
      href="{{ path('dashboard') }}"
      role="button"
    >
      <i class="fas fa-door-open"></i>
      Go to dashboard
    </a>
    {% endif %}
  </div>
{% endblock %}
