<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-user-plus"></i>
      Create a new user
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-hdd"></i>
      Storage options
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin') }}">
      <i class="fas fa-tools"></i>
      Go to EasyAdmin dashboard
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-chart-bar"></i>
      Usage statistics
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-info-circle"></i>
      About Anikura
    </a>
  </li>
</ul>